@CHARSET "UTF-8";

@media screen, projection {
	.elementPagerHide {
		display: none;
	}
	.elementPagerToolbar a {
		padding: 0 5px;
		color: #999;
		text-decoration: none;
	}
	.elementPagerToolbar a:hover,
	.elementPagerToolbar a.current {
		color: #333;
		text-decoration: none;
	}
	.elementPagerToolbar a:active,
	.elementPagerToolbar a:focus {
		text-decoration: none;
	}
	.elementPagerToolbar a.first,
	.elementPagerToolbar a.prev {
		float: left;
	}
	.elementPagerToolbar a.last,
	.elementPagerToolbar a.next {
		float: right;
	}
	.elementPagerToolbar a.disabled,
	.elementPagerToolbar a.disabled:hover {
		color: #ccc;
		cursor: default;
	}
	.elementPagerToolbar div.pages {
		text-align: center;
	}
}